*{
    margin:0;
    padding:0;
}

.fix{
    overflow: hidden;
}

.row{
    margin:0;
}

.container{
    background-image:url("../../resources/images/GSUSA_All_Abouts_Thank_you.JPG");
 padding-top: 150px;
  background-size: cover;
      width:100%;
    height:700px;
    background-repeat:no-repeat;

}
.btn-date{
    margin-top:10px;
}

.overlay{
   background-color: rgba(255, 0, 0, 0.15);
    width:100%;

}